@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

:root {
  --background: 0 0% 100%;
  --background-secondary: 0 0% 95%;
  --foreground: 0 0% 4%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 4%;
  --primary: 0 0% 0%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 42%;
  --secondary-foreground: 0 0% 100%;
  --tertiary: 0 0% 90%;
  --tertiary-foreground: 0 0% 10%;
  --muted: 0 0% 95%;
  --muted-foreground: 0 0% 42%;
  --border: 0 0% 85%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 0 0% 100%;
  --success: 142 71% 36%;
  --success-foreground: 0 0% 100%;
  --warning: 40 96% 40%;
  --warning-foreground: 0 0% 8%;
  --accent: 0 0% 7%;
  --accent-foreground: 0 0% 100%;
}

.dark {
  --background: 0 0% 0%;
  --background-secondary: 240 2% 11%;
  --foreground: 240 11% 96%;
  --card: 240 2% 11%;
  --card-foreground: 240 11% 96%;
  --primary: 0 0% 100%;
  --primary-foreground: 0 0% 0%;
  --secondary: 240 4% 65%;
  --secondary-foreground: 0 0% 0%;
  --tertiary: 240 2% 18%;
  --tertiary-foreground: 240 11% 96%;
  --muted: 240 2% 11%;
  --muted-foreground: 240 4% 65%;
  --border: 240 2% 23%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --success: 142 71% 45%;
  --success-foreground: 0 0% 0%;
  --warning: 48 96% 53%;
  --warning-foreground: 0 0% 0%;
  --accent: 0 0% 100%;
  --accent-foreground: 0 0% 0%;
}
